body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#mensagem {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-top: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.oculto {
    display: none;
}